@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins' , 'sans-serif';
}
.courses-slider .slick-track {
  display: flex !important;
  gap: 1rem;
}

.courses-slider .slick-slide {
  height: inherit !important;
}

.courses-slider .slick-slide > div {
  height: 100%;
}